*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root {
    /*==================================================== color =====================================================*/
    /*===============================================*/
    /* alice */
    --alice:#a9abac; --alice-25:#f2f4f6; --alice-50:#dadcdd; --alice-75:#c2c3c5;

    /*===============================================*/
    /*lagoon*/
    --lagoon:#0b1416; --lagoon-25:#0f1d20; --lagoon-50:#0e1a1d; --lagoon-75:#0c171a;

    /*===============================================*/
    /*cayman*/
    --cayman:#000525; --cayman-25:#1a1f43; --cayman-50:#00062e; --cayman-75:#000529;
    /* #041e42*/

    /*===============================================*/
    /*dark*/
    --dark:#111111; --dark-25:#1b1b1b; --dark-50:#181818; --dark-75:#141414;

    /*===============================================*/
    /*maroon*/
    --maroon:#990032; --maroon-25:#e6004c; --maroon-50:#cc0043; --maroon-75:#b3003b;

    /*==============================================*/
    /*mint*/
    --mint:#409532; --mint-25:#6cb85f; --mint-50:#59af4b; --mint-75:#47a637;

    /*===============================================*/
    /*neo*/
    --neo:#bec02a; --neo-25:#d2d36a; --neo-50:#cbcd55; --neo-75:#c5c63f;

    /*==============================================*/
    /*sea*/
    --sea:#39d1dd; --sea-25:#65edf7; --sea-50:#52eaf6; --sea-75:#3fe8f5;

    /*==============================================*/
    /*gray*/
    --gray:#3f3f3f; --gray-25:#5a5a5a; --gray-50:#515151; --gray-75:#484848;

    /*==============================================*/
    /*purly*/
    --purly:#8e57a8; --purly-25:#cb7cf0; --purly-50:#b770d8; --purly-75:#a263c0;

    /*active-colors*/
    --alice-active:#87898a; --lagoon-active:#0c171a; --cayman-active:#021a34; --dark-active:#060505; --maroon-active:#b8003d; --mint-active:#327427; --neo-active:#abad26; --sea-active:#2ea7b1; --gray-active:#393939; --purly-active:#724686;
    /*==================================================== color =====================================================*/
    
    /*container width*/
    --in:90%; --out:100%;

    
    /*visible and invisible*/
    .visible {visibility:visible;} .invisible {visibility:hidden;}

    /*overflow property */
    .overflow-hidden {overflow:hidden;} .overflow-auto {overflow:auto;} .overflow-scroll {overflow:scroll;} .overflow-visible {overflow:visible;}

    /*shadow effectt */
    .shadow-none {box-shadow:none;} .shadow-sm {box-shadow:0 4px 6px rgba(0, 0, 0, 0.6), 3px 1px 3px rgba(0, 0, 0, 0.08);} .shadow-lg {box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.6), 5px 10px 15px rgba(0, 0, 0, 0.1);}

    /*padding values*/
    --p1:8px; --p2:12px; --p3:16px; --p4:20px; --p5:25px;

    /*font-weight and display-text */
    --display-1:5em; --display-2:4.5em; --display-3:4em; --display-4:3.5em; --display-5:3em; --display-6:2.5em;

    /*margin values*/
    --m1:8px; --m2:12px; --m3:16px; --m4:20px; --m5:25px;

    /*button font size*/
    --s1:1em; --s2:1.05em; --s3:1.15em; --s4:1.25em; --s5:1.35em;

    /*heading font size*/
    --h1:2.25em; --h2:2em; --h3:1.8em;  --h4:1.4em; --h5:1.2em; --h6:1.1em;

    /*cell values */
    --cell1:8.33%; --cell2:16.67%; --cell3:25%; --cell4:33.33%; --cell5:41.67%; --cell6:50%; --cell7:58.33%; --cell8:66.67%; --cell9:75%; --cell10:83.33%; --cell11:91.67%; --cell12:100%;
}

/*width and height */
.w-25 {width:25%;} .w-50 {width:50%;} .w-75 {width:75%;} .w-100 {width:100%;} .mw-100 {max-width:100%;}
.h-25 {height:25%;} .h-50 {height:50%;} .h-75 {height:75%;} .h-100 {height:100%;} .mh-100 {max-height:100%;}
.mvh {min-height:100vh;}

/*aspect-ratio */
.ratio {position:relative;} .ratio-4x3 {width:100%;aspect-ratio:4/3;} .ratio-16x9 {width:100%;aspect-ratio: 16/9;} .ratio-21x9 {width:100%;aspect-ratio: 21/9;}

/*heading */
.h1 {font-size:var(--h1);font-weight:bold;} .h2 {font-size:var(--h2);font-weight:bold;} .h3{font-size:var(--h3);font-weight:bold;} .h4{font-size:var(--h4);font-weight:bold;} .h5{font-size:var(--h5);font-weight:bold;} .h6{font-size:var(--h6);font-weight:bold;}

/*full-container/container */
.container {width:var(--in);margin:auto;padding:var(--p2);overflow-x:hidden;} 
.container-sm,.container-md,.container-lg,.container-xl,.container-xxl {width:var(--out);max-width:100%;overflow-x:hidden;position:relative;}
.container-sm {margin:auto;} .container-md {margin:auto;} .container-lg{margin:auto;} .container-xl{margin:auto;} .container-xxl{margin:auto;}
.full-container {width:100%;max-width:100%; padding:var(--p3);}

/*display-content*/
.display-1 {font-size:var(--display-1);font-weight:100;} .display-2 {font-size:var(--display-2);font-weight:100;} .display-3 {font-size:var(--display-3);font-weight:100;} .display-4 {font-size:var(--display-4);font-weight:100;} .display-5 {font-size:var(--display-5);font-weight:100;} .display-6 {font-size:var(--display-6);font-weight:100;}

/*tuple*/
.tuple {display:flex;position:relative;padding:0;flex-wrap:wrap;}
.tuple-row {flex-direction:row;} .tuple-row-reverse {flex-direction:row-reverse;} .tuple-column {flex-direction:column} .tuple-column-reverse {flex-direction:column-reverse;}
.justify-content-center {justify-content: center;} .justify-content-end {justify-content:end;} .justify-content-around {justify-content:space-around;}
.justify-content-between {justify-content:space-between;} .justify-content-evenly {justify-content:space-evenly;} .justify-content-start {justify-content:start;}
.justify-content-baseline {justify-content:baseline;}
.align-items-center {align-items:center;} .align-items-baseline {align-items:baseline;} .align-items-end {align-items:end;}
.align-items-start {align-items:start;} .align-items-stretch {align-items:stretch;}

.align-content-center {align-content:center;} .align-content-baseline {align-content:baseline;} .align-content-end {align-content:end;} .align-content-between {align-content:space-between;} .align-content-around {align-content:space-around;}
.align-self-auto {align-self:auto;} .align-self-baseline {align-self:baseline;} .align-self-center {align-self:center;} .align-self-safe {align-self:safe;} .align-self-unsafe {align-self:unsafe;}
.align-self-d-start {align-self: flex-start;} .align-self-d-end {align-self:flex-end;}
/*grid*/
.grid {display:grid;width:100%;}
.grid>.grid-item {width:100%;}

/*article*/
.article {width:100%;position:relative;padding:0; padding-block:10px;margin-block:10px;} .article .aside {width:25%;position:relative;float:left;padding:5px;} .article .description {width:75%;position:relative;float:left;padding:5px;}

/*column values*/


/*card properties*/
.card {border-radius:8px;padding:var(--p2);border:1px solid gray;position:relative;} .card-body {position:relative;padding-block:var(--p4);}
.card .card-img-top {position:relative;width:100%;top:0;left:0;aspect-ratio: 16/9;background-size:cover;}
.card .card-img-bottom {position:relative;width:100%;bottom:0;left:0;aspect-ratio: 16/9;background-size:cover;}
.card-title{font-weight:900;padding-block:var(--p2);} .card-text {font-size:1.1em;padding-block:var(--p3)} .card-footer {padding-block:15px;border-top:1px solid gray;}


.col-sm-1{width:var(--cell1);padding:var(--p1)}.col-sm-2{width:var(--cell2);padding:var(--p1)}.col-sm-3{width:var(--cell3);padding:var(--p1)}.col-sm-4{width:var(--cell4);padding:var(--p1)}.col-sm-5{width:var(--cell5);padding:var(--p1)}.col-sm-6{width:var(--cell6);padding:var(--p1)}.col-sm-7{width:var(--cell7);padding:var(--p1)}.col-sm-8{width:var(--cell8);padding:var(--p1)}.col-sm-9{width:var(--cell9);padding:var(--p1)}.col-sm-10{width:var(--cell10);padding:var(--p1)}.col-sm-11{width:var(--cell11);padding:var(--p1)} .col-sm-12{width:var(--cell12);padding:var(--p1)}
.col-md-1{width:var(--cell1);padding:var(--p1)}.col-md-2{width:var(--cell2);padding:var(--p1)}.col-md-3{width:var(--cell3);padding:var(--p1)}.col-md-4{width:var(--cell4);padding:var(--p1)}.col-md-5{width:var(--cell5);padding:var(--p1)}.col-md-6{width:var(--cell6);padding:var(--p1)}.col-md-7{width:var(--cell7);padding:var(--p1)}.col-md-8{width:var(--cell8);padding:var(--p1)}.col-md-9{width:var(--cell9);padding:var(--p1)}.col-md-10{width:var(--cell10);padding:var(--p1)}.col-md-11{width:var(--cell11);padding:var(--p1)} .col-md-12{width:var(--cell12);padding:var(--p1)}
.col-lg-1{width:var(--cell1);padding:var(--p1);}.col-lg-2{width:var(--cell2);padding:var(--p1);}.col-lg-3{width:var(--cell3);padding:var(--p1);}.col-lg-4{width:var(--cell4);padding:var(--p1);}.col-lg-5{width:var(--cell5);padding:var(--p1);}.col-lg-6{width:var(--cell6);padding:var(--p1);}.col-lg-7{width:var(--cell7);padding:var(--p1);}.col-lg-8{width:var(--cell8);padding:var(--p1);}.col-lg-9{width:var(--cell9);padding:var(--p1);}.col-lg-10{width:var(--cell10);padding:var(--p1);}.col-lg-11{width:var(--cell11);padding:var(--p1);} .col-lg-12{width:var(--cell12);padding:var(--p1);}
.col-xl-1{width:var(--cell1);padding:var(--p1);}.col-xl-2{width:var(--cell2);padding:var(--p1);}.col-xl-3{width:var(--cell3);padding:var(--p1);}.col-xl-4{width:var(--cell4);padding:var(--p1);}.col-xl-5{width:var(--cell5);}.col-xl-6{width:var(--cell6);}.col-xl-7{width:var(--cell7);}.col-xl-8{width:var(--cell8);}.col-xl-9{width:var(--cell9);}.col-xl-10{width:var(--cell10);}.col-xl-11{width:var(--cell11);} .col-xl-12{width:var(--cell12);}
.col-xxl-1{width:var(--cell1);padding:var(--p1);}.col-xxl-2{width:var(--cell2);padding:var(--p1);}.col-xxl-3{width:var(--cell3);padding:var(--p1);}.col-xxl-4{width:var(--cell4);padding:var(--p1);}.col-xxl-5{width:var(--cell5);}.col-xxl-6{width:var(--cell6);}.col-xxl-7{width:var(--cell7);}.col-xxl-8{width:var(--cell8);}.col-xxl-9{width:var(--cell9);}.col-xxl-10{width:var(--cell10);}.col-xxl-11{width:var(--cell11);} .col-xxl-12{width:var(--cell12);}
/* .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {padding:0px;}
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12 {padding:0px;}
.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12 {padding:0px;} */

/*padding*/
.p-1{padding:var(--p1)}.px-1{padding-inline:var(--p1);}.py-1{padding-block:var(--p1)}.pt-1{padding-block-start:var(--p1)}.pb-1{padding-block-end:var(--p1)}.pl-1{padding-inline-start:var(--p1)}.pr-1{padding-inline-end:var(--p1);}

.p-2{padding:var(--p2)}.px-2{padding-inline:var(--p2);}.py-2{padding-block:var(--p2)}.pt-2{padding-block-start:var(--p2)}.pb-2{padding-block-end:var(--p2)}.pl-2{padding-inline-start:var(--p2)}.pr-2{padding-inline-end:var(--p2);}

.p-3{padding:var(--p3)}.px-3{padding-inline:var(--p3);}.py-3{padding-block:var(--p3)}.pt-3{padding-block-start:var(--p3)}.pb-3{padding-block-end:var(--p3)}.pl-3{padding-inline-start:var(--p3)}.pr-3{padding-inline-end:var(--p3);}

.p-4{padding:var(--p4)}.px-4{padding-inline:var(--p4);}.py-4{padding-block:var(--p4)}.pt-4{padding-block-start:var(--p4)}.pb-4{padding-block-end:var(--p4)}.pl-4{padding-inline-start:var(--p4)}.pr-4{padding-inline-end:var(--p4);}

.p-5{padding:var(--p5)}.px-5{padding-inline:var(--p5);}.py-5{padding-block:var(--p5)}.pt-5{padding-block-start:var(--p5)}.pb-5{padding-block-end:var(--p5)}.pl-5{padding-inline-start:var(--p5)}.pr-5{padding-inline-end:var(--p5);}

/* .p-{padding:var()}.px-{padding-inline:var();}.py-{padding-block:var()}.pt-{padding-block-start:var()}.pb-{padding-block-end:var()}.pl-{padding-inline-start:var()}.pr-{padding-inline-end:var();} */


/*margin*/
.m-1{margin:var(--m1)} .mx-1{margin-inline: var(--m1);}.my-1{margin-block: var(--m1);}.mt-1{margin-block-start: var(--m1);}.mb-1{margin-block-end: var(--m1);}.ml-1{margin-inline-start: var(--m1);}.mr-1{margin-inline-end: var(--m1);}

.m-2{margin:var(--m2)} .mx-2{margin-inline: var(--m2);}.my-2{margin-block: var(--m2);}.mt-2{margin-block-start: var(--m2);}.mb-2{margin-block-end: var(--m2);}.ml-2{margin-inline-start: var(--m2);}.mr-2{margin-inline-end: var(--m2);}

.m-3{margin:var(--m3)} .mx-3{margin-inline: var(--m3);}.my-3{margin-block: var(--m3);}.mt-3{margin-block-start: var(--m3);}.mb-3{margin-block-end: var(--m3);}.ml-3{margin-inline-start: var(--m3);}.mr-3{margin-inline-end: var(--m3);}

.m-4{margin:var(--m4)} .mx-4{margin-inline: var(--m4);}.my-4{margin-block: var(--m4);}.mt-4{margin-block-start: var(--m4);}.mb-4{margin-block-end: var(--m4);}.ml-4{margin-inline-start: var(--m4);}.mr-4{margin-inline-end: var(--m4);}

.m-5{margin:var(--m5)} .mx-5{margin-inline: var(--m5);}.my-5{margin-block: var(--m5);}.mt-5{margin-block-start: var(--m5);}.mb-5{margin-block-end: var(--m5);}.ml-5{margin-inline-start: var(--m5);}.mr-5{margin-inline-end: var(--m5);}

/* .m-{padding:var()}.mx-{padding-inline:var();}.my-{padding-block:var()}.mt-{padding-block-start:var()}.mb-{padding-block-end:var()}.ml-{padding-inline-start:var()}.mr-{padding-inline-end:var();} */


/*image properties*/
.img {position:relative;max-width:100%;}
