*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root {
    /*==================================================== color =====================================================*/
    /*===============================================*/
    /* alice */
    --alice:#a9abac; --alice-25:#f2f4f6; --alice-50:#dadcdd; --alice-75:#c2c3c5;

    /*===============================================*/
    /*lagoon*/
    --lagoon:#0b1416; --lagoon-25:#111d20; --lagoon-50:#0e1a1d; --lagoon-75:#0c171a;

    /*===============================================*/
    /*cayman*/
    --cayman:#000525; --cayman-25:#1a1f43; --cayman-50:#00062e; --cayman-75:#000529;
    /* #041e42*/

    /*===============================================*/
    /*dark*/
    --dark:#111111; --dark-25:#1b1b1b; --dark-50:#181818; --dark-75:#141414;

    /*===============================================*/
    /*maroon*/
    --maroon:#990032; --maroon-25:#e6004c; --maroon-50:#cc0043; --maroon-75:#b3003b;

    /*==============================================*/
    /*mint*/
    --mint:#409532; --mint-25:#6cb85f; --mint-50:#59af4b; --mint-75:#47a637;

    /*===============================================*/
    /*neo*/
    --neo:#bec02a; --neo-25:#d2d36a; --neo-50:#cbcd55; --neo-75:#c5c63f;

    /*==============================================*/
    /*sea*/
    --sea:#39d1dd; --sea-25:#65edf7; --sea-50:#52eaf6; --sea-75:#3fe8f5;

    /*==============================================*/
    /*gray*/
    --gray:#3f3f3f; --gray-25:#5a5a5a; --gray-50:#515151; --gray-75:#484848;

    /*==============================================*/
    /*purly*/
    --purly:#8e57a8; --purly-25:#cb7cf0; --purly-50:#b770d8; --purly-75:#a263c0;

    /*active-colors*/
    --alice-active:#87898a; --lagoon-active:#0c171a; --cayman-active:#021a34; --dark-active:#060505; --maroon-active:#b8003d; --mint-active:#327427; --neo-active:#abad26; --sea-active:#2ea7b1; --gray-active:#393939; --purly-active:#724686;
    /*==================================================== color =====================================================*/
    
    /*container width*/
    --in:90%; --out:100%;

    /*padding values*/
    --p1:.2em; --p2:.4em; --p3:0.8em; --p4:1em; --p5:1.25em;

    /*font-weight and display-text */
    --display-1:5em; --display-2:4.5em; --display-3:4em; --display-4:3.5em; --display-5:3em; --display-6:2.5em;

    /*margin values*/
    --m1:8px; --m2:12px; --m3:16px; --m4:20px; --m5:25px;

    /*button font size*/
    --s1:1em; --s2:1.05em; --s3:1.15em; --s4:1.25em; --s5:1.35em;

    /*heading font size*/
    --h1:2.25em; --h2:2em; --h3:1.8em;  --h4:1.4em; --h5:1.2em; --h6:1.1em;

    /*cell values */
    --cell1:8.33%; --cell2:16.67%; --cell3:25%; --cell4:33.33%; --cell5:41.67%; --cell6:50%; --cell7:58.33%; --cell8:66.67%; --cell9:75%; --cell10:83.33%; --cell11:91.67%; --cell12:100%;
}

/*article*/
.article {width:100%;position:relative;padding:0; padding-block:10px;margin-block:10px;} .article .aside {width:25%;position:relative;float:left;padding:5px;} .article .description {width:75%;position:relative;float:left;padding:5px;}

/*column values*/

/*float property */
.float-left {float:left;} .float-right {float:right} .float-start {float:inline-start} .float-end {float:inline-end;}

/*card properties*/
.card {border-radius:8px;padding:var(--p2);border:1px solid gray;position:relative;} .card-body {position:relative;padding-block:var(--p4);}
.card .card-img-top {position:relative;width:100%;top:0;left:0;aspect-ratio: 16/9;background-size:cover;}
.card .card-img-bottom {position:relative;width:100%;bottom:0;left:0;aspect-ratio: 16/9;background-size:cover;}
.card-title{font-weight:900;padding-block:var(--p2);} .card-text {font-size:1.1em;padding-block:var(--p3)} .card-footer {padding-block:15px;border-top:1px solid gray;}


.col-sm-1{width:var(--cell1);padding:var(--p1)}.col-sm-2{width:var(--cell2);padding:var(--p1)}.col-sm-3{width:var(--cell3);padding:var(--p1)}.col-sm-4{width:var(--cell4);padding:var(--p1)}.col-sm-5{width:var(--cell5);padding:var(--p1)}.col-sm-6{width:var(--cell6);padding:var(--p1)}.col-sm-7{width:var(--cell7);padding:var(--p1)}.col-sm-8{width:var(--cell8);padding:var(--p1)}.col-sm-9{width:var(--cell9);padding:var(--p1)}.col-sm-10{width:var(--cell10);padding:var(--p1)}.col-sm-11{width:var(--cell11);padding:var(--p1)} .col-sm-12{width:var(--cell12);padding:var(--p1)}
.col-md-1{width:var(--cell1);padding:var(--p1)}.col-md-2{width:var(--cell2);padding:var(--p1)}.col-md-3{width:var(--cell3);padding:var(--p1)}.col-md-4{width:var(--cell4);padding:var(--p1)}.col-md-5{width:var(--cell5);padding:var(--p1)}.col-md-6{width:var(--cell6);padding:var(--p1)}.col-md-7{width:var(--cell7);padding:var(--p1)}.col-md-8{width:var(--cell8);padding:var(--p1)}.col-md-9{width:var(--cell9);padding:var(--p1)}.col-md-10{width:var(--cell10);padding:var(--p1)}.col-md-11{width:var(--cell11);padding:var(--p1)} .col-md-12{width:var(--cell12);padding:var(--p1)}
.col-lg-1{width:var(--cell1);padding:var(--p1);}.col-lg-2{width:var(--cell2);padding:var(--p1);}.col-lg-3{width:var(--cell3);padding:var(--p1);}.col-lg-4{width:var(--cell4);padding:var(--p1);}.col-lg-5{width:var(--cell5);padding:var(--p1);}.col-lg-6{width:var(--cell6);padding:var(--p1);}.col-lg-7{width:var(--cell7);padding:var(--p1);}.col-lg-8{width:var(--cell8);padding:var(--p1);}.col-lg-9{width:var(--cell9);padding:var(--p1);}.col-lg-10{width:var(--cell10);padding:var(--p1);}.col-lg-11{width:var(--cell11);padding:var(--p1);} .col-lg-12{width:var(--cell12);padding:var(--p1);}
.col-xl-1{width:var(--cell1);padding:var(--p1);}.col-xl-2{width:var(--cell2);padding:var(--p1);}.col-xl-3{width:var(--cell3);padding:var(--p1);}.col-xl-4{width:var(--cell4);padding:var(--p1);}.col-xl-5{width:var(--cell5);}.col-xl-6{width:var(--cell6);}.col-xl-7{width:var(--cell7);}.col-xl-8{width:var(--cell8);}.col-xl-9{width:var(--cell9);}.col-xl-10{width:var(--cell10);}.col-xl-11{width:var(--cell11);} .col-xl-12{width:var(--cell12);}
.col-xxl-1{width:var(--cell1);padding:var(--p1);}.col-xxl-2{width:var(--cell2);padding:var(--p1);}.col-xxl-3{width:var(--cell3);padding:var(--p1);}.col-xxl-4{width:var(--cell4);padding:var(--p1);}.col-xxl-5{width:var(--cell5);}.col-xxl-6{width:var(--cell6);}.col-xxl-7{width:var(--cell7);}.col-xxl-8{width:var(--cell8);}.col-xxl-9{width:var(--cell9);}.col-xxl-10{width:var(--cell10);}.col-xxl-11{width:var(--cell11);} .col-xxl-12{width:var(--cell12);}

