/*display-content*/
.display-1 {font-size:var(--display-1);font-weight:100;} .display-2 {font-size:var(--display-2);font-weight:100;} .display-3 {font-size:var(--display-3);font-weight:100;} .display-4 {font-size:var(--display-4);font-weight:100;} .display-5 {font-size:var(--display-5);font-weight:100;} .display-6 {font-size:var(--display-6);font-weight:100;}

/*tuple*/
.tuple {display:flex;position:relative;padding:0;flex-wrap:wrap;}
.tuple-row {flex-direction:row;} .tuple-row-reverse {flex-direction:row-reverse;} .tuple-column {flex-direction:column} .tuple-column-reverse {flex-direction:column-reverse;}
.justify-content-center {justify-content: center;} .justify-content-end {justify-content:end;} .justify-content-around {justify-content:space-around;}
.justify-content-between {justify-content:space-between;} .justify-content-evenly {justify-content:space-evenly;} .justify-content-start {justify-content:start;}
.justify-content-baseline {justify-content:baseline;}
.align-items-center {align-items:center;} .align-items-baseline {align-items:baseline;} .align-items-end {align-items:end;}
.align-items-start {align-items:start;} .align-items-stretch {align-items:stretch;}

.align-content-center {align-content:center;} .align-content-baseline {align-content:baseline;} .align-content-end {align-content:end;} .align-content-between {align-content:space-between;} .align-content-around {align-content:space-around;}
.align-self-auto {align-self:auto;} .align-self-baseline {align-self:baseline;} .align-self-center {align-self:center;} .align-self-safe {align-self:safe;} .align-self-unsafe {align-self:unsafe;}
.align-self-d-start {align-self: flex-start;} .align-self-d-end {align-self:flex-end;}
/*grid*/
.grid {display:grid;width:100%;}
.grid>.grid-item {width:100%;}

/*article*/
.article {width:100%;position:relative;padding:0; padding-block:10px;margin-block:10px;} .article .aside {width:25%;position:relative;float:left;padding:5px;} .article .description {width:75%;position:relative;float:left;padding:5px;}
