* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root {
    /*==================================================== color =====================================================*/
    /*===============================================*/
    /* alice */
    --alice:#f2f4f6;
    --alice-25:#ecedef;
    --alice-50:#e4e6e8;
    --alice-75:#e1e5e8;

    /*===============================================*/
    /*lagoon*/
    --lagoon:#193035;
    --lagoon-25:#006a6a;
    --lagoon-50:#064439;
    --lagoon-75:#274546;

    /*===============================================*/
    /*cayman*/
    --cayman:#054182;
    --cayman-25:#1058a5;
    --cayman-50:#0a519d;
    --cayman-75:#07488e;

    /*===============================================*/
    /*dark*/
    --dark:#161515;
    --dark-25:#041921;
    --dark-50:#101020;
    --dark-75:#131316;

    /*===============================================*/
    /*maroon*/
    --maroon:#ff0054;
    --maroon-25:#fb3778;
    --maroon-50:#f92f72;
    --maroon-75:#f4155f;

    /*==============================================*/
    /*mint*/
    --mint:#4fb83d;
    --mint-25:#b3eda9;
    --mint-50:#92d786;
    --mint-75:#74cc64;

    /*===============================================*/
    /*neo*/
    --neo:#bec02a;
    --neo-25:#eff308;
    --neo-50:#e3e60e;
    --neo-75:#cccf1b;

    /*==============================================*/
    /*sea*/
    --sea:#3fe8f5;
    --sea-25:#80dce3;
    --sea-50:#68dde6;
    --sea-75:#4fdee8;

    /*==============================================*/
    /*gray*/
    --gray:#5a5a5a;
    --gray-25:#808080;
    --gray-50:#737373;
    --gray-75:#666666;

    /*==============================================*/
    /*purly*/
    --purly:#8e57a8;
    --purly-25:#cb7cf0;
    --purly-50:#b770d8;
    --purly-75:#a263c0;
    /*==================================================== color =====================================================*/
    
    /*container width*/
    --in:90%;
    --out:100%;

    /*padding values*/
    --p1:8px;
    --p2:12px;
    --p3:16px;
    --p4:20px;
    --p5:25px;

    /*margin values*/
    --m1:8px;
    --m2:12px;
    --m3:16px;
    --m4:20px;
    --m5:25px;

    /*button font size*/
    --s1:1em;
    --s2:1.05em;
    --s3:1.15em;
    --s4:1.25em;
    --s5:1.35em;

    /*heading font size*/
    --h1:2.25em;
    --h2:2em;
    --h3:1.8em;
    --h4:1.4em;
    --h5:1.2em;
    --h6:1.1em;

    /*cell values */
    --cell1:8.33%;
    --cell2:16.67%;
    --cell3:25%;
    --cell4:33.33%;
    --cell5:41.67%;
    --cell6:50%;
    --cell7:58.33%;
    --cell8:66.67%;
    --cell9:75%;
    --cell10:83.33%;
    --cell11:91.67%;
    --cell12:100%;
}

/*anchor tag property*/
.link-alice{color:var(--alice);}.link-lagoon {color:var(--lagoon);}.link-cayman{color:var(--cayman);}.link-dark{color:var(--dark);}.link-maroon{color:var(--maroon);}.link-mint{color:var(--mint);}.link-neo{color:var(--neo);}
.link-sea{color:var(--sea);} .link-gray {color:var(--gray);} .link-purly {color:var(--purly);}

/*background-theme */
.bg-theme-dark {background-color:var(--dark);}
.bg-theme-white {background-color:#f6f5f5;}

/*backgroud-colors properties*/
.bg-alice {background-color:var(--alice)}.bg-alice-25 {background-color:var(--alice-25);}.bg-alice-50 {background-color:var(--alice-50)}.bg-alice-75 {background-color:var(--alice-75);}
.bg-lagoon {background-color:var(--lagoon)}.bg-lagoon-25 {background-color:var(--lagoon-25);}.bg-lagoon-50 {background-color:var(--lagoon-50)}.bg-lagoon-75 {background-color:var(--lagoon-75);}
.bg-cayman {background-color:var(--cayman)}.bg-cayman-25 {background-color:var(--cayman-25)}.bg-cayman-50 {background-color:var(--cayman-50)}.bg-cayman-75 {background-color:var(--cayman-75);}
.bg-dark {background-color:var(--dark)}.bg-dark-25{background-color:var(--dark-25);}.bg-dark-50 {background-color:var(--#101020);}.bg-dark-75 {background-color:var(--dark-75);}
.bg-maroon {background-color:var(--maroon);}.bg-maroon-25{background-color:var(--maroon-25);}.bg-maroon-50{background-color:var(--maroon-50);}.bg-maroon-75{background-color:var(--maroon-75);}
.bg-mint {background-color:var(--mint);}.bg-mint-25{background-color:var(--mint-25);}.bg-mint-50{background-color:var(--mint-50);}.bg-mint-75{background-color:var(--mint-75);}
.bg-neo {background-color:var(--neo);}.bg-neo-25{background-color:var(--neo-25);}.bg-neo-50{background-color: var(--neo-50);}.bg-neo-75{background-color:var(--neo-75);}
.bg-sea {background-color:var(--sea);}.bg-sea-25{background-color:var(--sea-25);}.bg-sea-50{background-color:var(--sea-50);}.bg-sea-75{background-color:var(--sea-75);}
.bg-gray {background-color:var(--gray);} .bg-gray-25 {background-color:var(--gray-25);} .bg-gray-50 {background-color:var(--gray-50);} .bg-gray-50 {background-color:var(--gray-75);}
.bg-purly {background-color:var(--purly);} .bg-purly-25 {background-color:var(--purly-25);} .bg-purly-50 {background-color:var(--purly-50);} .bg-purly-75 {background-color: var(--purly-75);}

/*button property*/
.bt {padding:8px;font-size:var(--s1);}.bt-sm {padding:10px;font-size:var(--s2);}.bt-md {padding:14px;font-size:var(--s3);}.bt-lg{padding:18px;font-size:var(--s4);} .bt-xl {padding:25px;font-size:var(--s5);}
.bt,.bt-sm,.bt-md,.bt-lg,.bt-xl {cursor:pointer;border-radius:8px;border:none;} 
.bt-alice{background-color:var(--alice);color:var(--dark);}.bt-lagoon{background-color:var(--lagoon);color:var(--alice);}.bt-cayman{background-color:var(--cayman);color:var(--alice)}
.bt-dark {background-color:var(--dark);color:#ffffff;}.bt-neo{background-color:var(--neo);color:var(--dark)}.bt-sea{background-color:var(--sea);color:var(--dark)}
.bt-maroon{background-color:var(--maroon);color:#ffffff;}.bt-mint{background-color:var(--mint);color:#ffffff;} .bt-gray{background-color:var(--gray);color:var(--alice);} 
.bt-purly {background-color:var(--purly);color:var(--alice);}

.bt-outline-alice,.bt-outline-lagoon,.bt-outline-cayman,.bt-outline-dark,.bt-outline-maroon,.bt-outline-mint,.bt-outline-neo,.bt-outline-sea,.bt-outline-gray,.bt-outline-purly {background-color:transparent;}
.bt-outline-alice{border:1px solid var(--alice);color:var(--alice);}.bt-outline-lagoon{border:1px solid var(--lagoon);color:var(--lagoon);}
.bt-outline-cayman{border:1px solid var(--cayman);color:var(--cayman);}.bt-outline-dark{border:1px solid var(--dark);color:var(--dark);}
.bt-outline-maroon{border:1px solid var(--maroon);color:var(--maroon);}.bt-outline-mint{border:1px solid var(--mint);color:var(--mint);}
.bt-outline-neo{border:1px solid var(--neo);color:var(--neo);}.bt-outline-sea{border:1px solid var(--sea);color:var(--sea);}
.bt-outline-gray{border:1px solid var(--gray);color:var(--gray);} .bt-outline-purly {border:1px solid var(--purly);color:var(--purly);}

/*button outline hover effect*/
.bt-outline-alice:hover {background-color:var(--alice);color:var(--dark);}.bt-outline-lagoon:hover{background-color:var(--lagoon);color:var(--alice);}
.bt-outline-cayman:hover{background-color:var(--cayman);color:var(--alice)}.bt-outline-dark:hover {background-color:var(--dark);color:#ffffff;}
.bt-outline-neo:hover{background-color:var(--neo);color:var(--dark)}.bt-outline-sea:hover{background-color:var(--sea);color:var(--dark)}
.bt-outline-maroon:hover{background-color:var(--maroon);color:#ffffff;}.bt-outline-mint:hover{background-color:var(--mint);color:#ffffff;}
.bt-outline-gray:hover {background-color:var(--gray);color:var(--alice);} .bt-outline-purly:hover {background-color:var(--purly);color:var(--alice);}
/*bt-outline- :hover{background-color:var();color:#}*/


/*border property*/
.border-alice {border:1px solid var(--alice);}.border-lagoon{border:1px solid var(--lagoon);} .border-cayman{border:1px solid var(--cayman);} .border-dark{border:1px solid var(--dark);}
.border-neo {border:1px solid var(--neo);} .border-sea {border:1px solid var(--sea);} .border-maroon{border:1px solid var(--maroon);} .border-mint{border:1px solid var(--mint);}
.border-gray {border:1px solid var(--gray);} .border-purly {border:1px solid var(--purly);}
/*.border- {border:1px solid var()}*/

/* border-radius*/
.rounded {border-radius:12px}
.circle {border-radius:50%;}


/*text property*/
.tx-white {color:#ffffff;} .tx-dark{color:var(--dark)} .tx-alice{color:var(--alice);} .tx-lagoon {color:var(--lagoon)}.tx-cayman {color:var(--cayman)}.tx-maroon {color:var(--maroon);}.tx-mint{color:var(--mint);}.tx-neo{color:var(--neo);}
.tx-sea{color:var(--sea);}.tx-gray {color:var(--gray);} .tx-purly{color:var(--purly);}
.tx-center{text-align:center;}.tx-left{text-align:left;}.tx-right{text-align:right;}.tx-justity{text-align:justify}
/*tx- {text-}*/

/*heading */
.h1 {font-size:var(--h1);font-weight:bold;} .h2 {font-size:var(--h2);font-weight:bold;} .h3{font-size:var(--h3);font-weight:bold;} .h4{font-size:var(--h4);font-weight:bold;} .h5{font-size:var(--h5);font-weight:bold;} .h6{font-size:var(--h6);font-weight:bold;}

/*full-container/container */
.container {width:var(--in);margin:auto;padding:var(--p4);overflow-x:hidden;} 
.container-sm,.container-md,.container-lg,.container-xl,.container-xxl {width:var(--out);max-width:100%;overflow-x:hidden;position:relative;}
.container-sm {margin:auto;} .container-md {margin:auto;} .container-lg{margin:auto;} .container-xl{margin:auto;} .container-xxl{margin:auto;}
.full-container {width:100%;max-width:100%; padding:var(--p4);}

/*tuple*/
.tuple {display:flex;position:relative;padding:0;flex-wrap:wrap;}
.tuple-row {flex-direction:row;} .tuple-row-reverse {flex-direction:row-reverse;} .tuple-column {flex-direction:column} .tuple-column-reverse {flex-direction:column-reverse;}
.justify-content-center {justify-content: center;} .justify-content-end {justify-content:end;} .justify-content-around {justify-content:space-around;}
.justify-content-between {justify-content:space-between;} .justify-content-evenly {justify-content:space-evenly;} .justify-content-start {justify-content:start;}
.justify-content-baseline {justify-content:baseline;}
.align-items-center {align-items:center;} .align-items-baseline {align-items:baseline;} .align-items-end {align-items:end;}
.align-items-start {align-items:start;} .align-items-stretch {align-items:stretch;}

/*grid*/
.grid {display:grid;width:100%;}
.grid>.grid-item {width:100%;}

/*article*/
.article {width:100%;position:relative;padding:0; padding-block:10px;margin-block:10px;} .article .aside {width:25%;position:relative;float:left;padding:5px;} .article .description {width:75%;position:relative;float:left;padding:5px;}

/*column values*/

.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {padding:10px;}
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12 {padding:10px;}
.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12 {padding:10px;}
.col-sm-1{width:var(--cell1);}.col-sm-2{width:var(--cell2);}.col-sm-3{width:var(--cell3);}.col-sm-4{width:var(--cell4);}.col-sm-5{width:var(--cell5);}.col-sm-6{width:var(--cell6);}.col-sm-7{width:var(--cell7);}.col-sm-8{width:var(--cell8);}.col-sm-9{width:var(--cell9);}.col-sm-10{width:var(--cell10);}.col-sm-11{width:var(--cell11);} .col-sm-12{width:var(--cell12);}
.col-md-1{width:var(--cell1);}.col-md-2{width:var(--cell2);}.col-md-3{width:var(--cell3);}.col-md-4{width:var(--cell4);}.col-md-5{width:var(--cell5);}.col-md-6{width:var(--cell6);}.col-md-7{width:var(--cell7);}.col-md-8{width:var(--cell8);}.col-md-9{width:var(--cell9);}.col-md-10{width:var(--cell10);}.col-md-11{width:var(--cell11);} .col-md-12{width:var(--cell12);}
.col-lg-1{width:var(--cell1);}.col-lg-2{width:var(--cell2);}.col-lg-3{width:var(--cell3);}.col-lg-4{width:var(--cell4);}.col-lg-5{width:var(--cell5);}.col-lg-6{width:var(--cell6);}.col-lg-7{width:var(--cell7);}.col-lg-8{width:var(--cell8);}.col-lg-9{width:var(--cell9);}.col-lg-10{width:var(--cell10);}.col-lg-11{width:var(--cell11);} .col-lg-12{width:var(--cell12);}
.col-xl-1{width:var(--cell1);}.col-xl-2{width:var(--cell2);}.col-xl-3{width:var(--cell3);}.col-xl-4{width:var(--cell4);}.col-xl-5{width:var(--cell5);}.col-xl-6{width:var(--cell6);}.col-xl-7{width:var(--cell7);}.col-xl-8{width:var(--cell8);}.col-xl-9{width:var(--cell9);}.col-xl-10{width:var(--cell10);}.col-xl-11{width:var(--cell11);} .col-xl-12{width:var(--cell12);}
.col-xxl-1{width:var(--cell1);}.col-xxl-2{width:var(--cell2);}.col-xxl-3{width:var(--cell3);}.col-xxl-4{width:var(--cell4);}.col-xxl-5{width:var(--cell5);}.col-xxl-6{width:var(--cell6);}.col-xxl-7{width:var(--cell7);}.col-xxl-8{width:var(--cell8);}.col-xxl-9{width:var(--cell9);}.col-xxl-10{width:var(--cell10);}.col-xxl-11{width:var(--cell11);} .col-xxl-12{width:var(--cell12);}


/*padding*/
.p-1{padding:var(--p1)}.px-1{padding-inline:var(--p1);}.py-1{padding-block:var(--p1)}.pt-1{padding-block-start:var(--p1)}.pb-1{padding-block-end:var(--p1)}.pl-1{padding-inline-start:var(--p1)}.pr-1{padding-inline-end:var(--p1);}

.p-2{padding:var(--p2)}.px-2{padding-inline:var(--p2);}.py-2{padding-block:var(--p2)}.pt-2{padding-block-start:var(--p2)}.pb-2{padding-block-end:var(--p2)}.pl-2{padding-inline-start:var(--p2)}.pr-2{padding-inline-end:var(--p2);}

.p-3{padding:var(--p3)}.px-3{padding-inline:var(--p3);}.py-3{padding-block:var(--p3)}.pt-3{padding-block-start:var(--p3)}.pb-3{padding-block-end:var(--p3)}.pl-3{padding-inline-start:var(--p3)}.pr-3{padding-inline-end:var(--p3);}

.p-4{padding:var(--p4)}.px-4{padding-inline:var(--p4);}.py-4{padding-block:var(--p4)}.pt-4{padding-block-start:var(--p4)}.pb-4{padding-block-end:var(--p4)}.pl-4{padding-inline-start:var(--p4)}.pr-4{padding-inline-end:var(--p4);}

.p-5{padding:var(--p5)}.px-5{padding-inline:var(--p5);}.py-5{padding-block:var(--p5)}.pt-5{padding-block-start:var(--p5)}.pb-5{padding-block-end:var(--p5)}.pl-5{padding-inline-start:var(--p5)}.pr-5{padding-inline-end:var(--p5);}

/* .p-{padding:var()}.px-{padding-inline:var();}.py-{padding-block:var()}.pt-{padding-block-start:var()}.pb-{padding-block-end:var()}.pl-{padding-inline-start:var()}.pr-{padding-inline-end:var();} */


/*margin*/
.m-1{margin:var(--m1)} .mx-1{margin-inline: var(--m1);}.my-1{margin-block: var(--m1);}.mt-1{margin-block-start: var(--m1);}.mb-1{margin-block-end: var(--m1);}.ml-1{margin-inline-start: var(--m1);}.mr-1{margin-inline-end: var(--m1);}

.m-2{margin:var(--m2)} .mx-2{margin-inline: var(--m2);}.my-2{margin-block: var(--m2);}.mt-2{margin-block-start: var(--m2);}.mb-2{margin-block-end: var(--m2);}.ml-2{margin-inline-start: var(--m2);}.mr-2{margin-inline-end: var(--m2);}

.m-3{margin:var(--m3)} .mx-3{margin-inline: var(--m3);}.my-3{margin-block: var(--m3);}.mt-3{margin-block-start: var(--m3);}.mb-3{margin-block-end: var(--m3);}.ml-3{margin-inline-start: var(--m3);}.mr-3{margin-inline-end: var(--m3);}

.m-4{margin:var(--m4)} .mx-4{margin-inline: var(--m4);}.my-4{margin-block: var(--m4);}.mt-4{margin-block-start: var(--m4);}.mb-4{margin-block-end: var(--m4);}.ml-4{margin-inline-start: var(--m4);}.mr-4{margin-inline-end: var(--m4);}

.m-5{margin:var(--m5)} .mx-5{margin-inline: var(--m5);}.my-5{margin-block: var(--m5);}.mt-5{margin-block-start: var(--m5);}.mb-5{margin-block-end: var(--m5);}.ml-5{margin-inline-start: var(--m5);}.mr-5{margin-inline-end: var(--m5);}

/* .m-{padding:var()}.mx-{padding-inline:var();}.my-{padding-block:var()}.mt-{padding-block-start:var()}.mb-{padding-block-end:var()}.ml-{padding-inline-start:var()}.mr-{padding-inline-end:var();} */


/*image properties*/
.img {position:relative;max-width:100%;}

.nav {
    display:flex;
    list-style:none;
    padding:8px;
}
.nav .nab-item {
    padding-inline:35px;
}

.nav .nab-item .nav-link {text-decoration:none;}



/*media query control*/
@media screen and (max-width:577px) {
    .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {width:var(--cell12);}
}
@media screen and (max-width:768px) {
    .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12 {width:var(--cell12);}
    .article{display:grid;}.aside{width:100%;} .description {width:100%;}
}
@media screen and (max-width:992px) {
    .col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12 {width:var(--cell12);}

}
@media screen and (max-width:1200px) {
    .col-xl-1,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-10,.col-xl-11,.col-xl-12 {width:var(--cell12);}
}
@media screen and (max-width:1440px) {
    .col-xxl-1,.col-xxl-2,.col-xxl-3,.col-xxl-4,.col-xxl-5,.col-xxl-6,.col-xxl-7,.col-xxl-8,.col-xxl-9,.col-xxl-10,.col-xxl-11,.col-xxl-12 {width:var(--cell12);}
}
@media screen and ( min-width:577px) {
    .container-sm{width:var(--in);padding:20px;}
    .container-md{width:var(--out);padding:20px;}
    .container-lg{width:var(--out);padding:20px;}
    .container-xl{width:var(--out);padding:20px;}
    .container-xxl{width:var(--out);padding:20px;}
}
@media screen and (min-width:768px) {
    .container-sm{width:var(--in);padding:20px;}
    .container-md{width:var(--in);padding:20px;}
    .container-lg{width:var(--out);padding:20px;}
    .container-xl{width:var(--out);padding:20px;}
    .container-xxl{width:var(--out);padding:20px;}
}
@media screen and (min-width:992px) {
    .container-sm{width:var(--in);padding:20px;}
    .container-md{width:var(--in);padding:20px;}
    .container-lg{width:var(--in);padding:20px;}
    .container-xl{width:var(--out);padding:20px;}
    .container-xxl{width:var(--out);padding:20px;}
}
@media screen and ( min-width:1200px) {
    .container-sm{width:var(--in);padding:20px;}
    .container-md{width:var(--in);padding:20px;}
    .container-lg{width:var(--in);padding:20px;}
    .container-xl{width:var(--in);padding:20px;}
    .container-xxl{width:var(--out);padding:20px;}
}


@media screen and (min-width:1440px) {
    .container-sm{width:var(--in);padding:20px;}
    .container-md{width:var(--in);padding:20px;}
    .container-lg{width:var(--in);padding:20px;}
    .container-xl{width:var(--in);padding:20px;}
    .container-xxl{width:var(--in);padding:20px;}
}


